baseURL = "//www.shiyankoh.com/"
languageCode = "en-us"
title = "The Culdesac"
theme = "paper"
author = "Shiyan Koh"
enableInlineShortcodes = true

[params]
  name = "Shiyan Koh"
  bio = "Co-founder & GP at Hustle Fund"
  description = "The Culdesac - A blog by Shiyan Koh"
  disableThemeToggle = true
  color = "linen"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[menu]
  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/blog/"
    weight = 1
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 2

[taxonomies]
  category = "categories"
  tag = "tags"
